@media only screen and (max-width: 810px) {
    .images {
        width: 48%;
        height: 200px;
        margin: 5px;
    }
    
    .img_t {
        padding-top: 70px;
    }
    
    .img_l {
        width: 98%;
    }
    
    .img_l .img_t {
        padding-top: 70px;
    }
    
    .image-container {
        height: 630px;
    }
    
    .img_preview {
        display: block;
    }
    
    .modal-content {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .images {
        width: 98%;
    }
    
    .image-container {
        height: 1050px;
    }
    
    .nav {display: none;}
    .navicon {display: inline-block;}
}

@media only screen and (max-width: 400px) {
    .up {
        height: 155px;
    }
    
    .top {
        width: 100%;
        text-align: center;
    }
    
    .r {
        margin-top: 0;
    }
    
    form {
        width: auto;
        margin: 0 20px;
        padding-left: 50px;
    }
}